{% extends "site_base.html" %}
{% load webdesign %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load mapstory_tags %}

{% block extra_head %}
<link href="{{ STATIC_URL }}mapstory/css/index.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}vendor/isotope/css/style.css" rel="stylesheet" />
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}vendor/modernizr/modernizr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery.stellar/jquery.stellar.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/isotope/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mapstory/js/index.js"></script>
{% endblock %}

{% block middle %}
<div style="position: absolute; top: -30px; height: 400px; width: 100%; overflow: hidden">     
                <img src="{% remote_content 'africa.gif' %}" style="width: 100%;">
                </img>
                </div> 
				
				<section class="slice" id="welcome" style="position:absolute;z-index:3;background-color:grey;opacity:0.8;width:100%;height:350px;">
                    
					<div class="container">
						<div class="row" style="padding-top:50px">
							<div class="col-sm-12">
								<h1  style="text-align:center;color:white;">The atlas of change that everyone can edit.</h1>
							</div>
						</div>
						
						
						<div class="row" style="padding-top:10px">
							<div class="input-group col-sm-6 col-sm-offset-3">
                            	<input class="form-control " id="appendedInput" type="text" placeholder="Explore events, places, periods and storytellers" style="color:chocolate;background-color:whitesmoke;border:1px solid white">
                                <span class="input-group-addon" style="background-color:chocolate;color:white;border:1px solid white"><i class="icon-magnifier"></i></span>
                            </div>
						</div>
						<div class="row" style="padding-top:15px;padding-bottom:5px;">
							<div style="text-align:center">
								<span class="col-sm-3" style="border-right:1px solid #BD5E1B;font-size:22px;font-weight:100;padding:8px;background-color:grey;color:white">
									<a style="color:white" href="#">
										Sign Up
									</a>
										</span>
								<span class="col-sm-3" style="border-right:1px solid #BD5E1B;font-size:22px;font-weight:100;padding:8px;background-color:grey;color:white">
									<a style="color:white" href="#">
										Upload Data
									</a>
								</span>
								<span class="col-sm-3" style="border-right:1px solid #BD5E1B;font-size:22px;font-weight:100;padding:8px;background-color:grey;color:white">
									<a style="color:white" href="#">
										Edit StoryLayers
									</a>
								</span>
								<span class="col-sm-3" style="font-size:22px;font-weight:100;padding:8px;background-color:grey;color:white">
									<a style="color:white" href="#">
										Compose a MapStory
									</a>
								</span>
							</div>
						</div>
						
						<div class="row" style="padding-top: 20px">
							<h2 style="text-align:center; color:white; font-size:20px; font-weight:400">
								Quickly share open data and create MapStories about how the world changes over space <br/> and time - on any subject, at any geographic scale, and into the past, present or future.
							</h2>
						</div>
					</div>
				</section>

<section class="slice" id="mapstories" style="width:100%;height:475px;position:absolute;z-index:4;top:650px;padding-top:30px">
    <div class="container">
        <div class="col-sm-12">
								<h1  style="text-align:center;color:black;">Featured MapStories</h1>
        </div>
        <nav id="filter" class="col-md-12 text-center" style="padding-top: 20px; text-align:center; margin-left: auto; margin-right:auto; width: 657px">
            <ul class="nav nav-tabs" >
                <li><a href="" class="btn btn-filter btn-sm" data-filter="*" data-toggle="tab">All MapStories</a></li>
                <li><a href="" class="btn btn-filter btn-sm" data-filter=".science">Science</a></li>
                <li><a href="" class="btn btn-filter btn-sm" data-filter=".government">Government</a></li>
                <li><a href="" class="btn btn-filter btn-sm" data-filter=".nature">Nature</a></li>
                <li><a href="" class="btn btn-filter btn-sm" data-filter=".crisis">Crisis</a></li>
                <li><a href="" class="btn btn-filter btn-sm" data-filter=".settlement">Human Settlement</a></li>
                <li><a href="" class="btn btn-filter btn-sm" data-filter=".health">Health</a></li>
            </ul>
        </nav>
        <div class="portfolio-items isotopeWrapper clearfix imgHover isotope" id="4">
            {% with groups='science government nature crisis settlement health' loop='1234' %}
            {% for group in groups.split %}
            {% for cnt in loop %}
            <article class="col-sm-3 isotopeItem {{ group }} isotope-item">
                <section class="imgWrapper">
                    <img alt="" src="{% remote_content 'portfolio/vign6.jpg' %}" class="img-responsive">
                </section>
                <section class="boxContent">
                    <h3>{% lorem 3 w random %}</h3>
                    <h4>{% lorem 15 w random %}<br>
                        <a href="portfolio-project-fullwidth-image.html" class="moreLink portfolioSheet">→ read more</a>
                    </h4>
                </section>
            </article>
            {% endfor %}
            {% endfor %}
            {% endwith %}
        </div>
    </div>
</section>

<section class="slice" id="getstarted" style="width:100%;height:900px;position:absolute;z-index:4;top:900px; background-color: #F0F0F0">
					<div class="container">
						<div class="row">
								<h1 style="text-align:left;font-weight:200; padding-top:50px; padding-bottom: 25px"><span style="font-weight: 400; color: #BD5E1B">Share</span> what you see changing in our complex world.<br/></h1>
                            <h2 style="text-align:left">Everyone has expertise to share. MapStory empowers you to <span style="font-weight:600">show</span> others what you see changing in our world, and <span style="font-weight:600">tell</span> them why it matters.</h2>
                        </div>
                        <div class="row">
                            <div style="text-align:center;padding:5px; margin-top: 75px; float: left;">
								<img class="img-circle" src="{% remote_content 'images/profpic.jpg' %}" width="400" height="400">
				            </div>
                            <div style="text-align:center;padding:5px; position: relative; top: 250px; left: 20px; width: 100%">
								<h3 style="font-weight: 100; letter-spacing: 0px">Jeremiah, a 9th grade teacher at Xavier High School in Florida, is working with his students to map the spread of invasive pythons across the state. Check out his work <a href="#">here</a>. Or, see what other <a href="#">journalists</a>, <a href="#">librarians</a>, <a href="#">policymakers</a>, <a href="#">scholars</a>, <a href="#">teachers</a>, <a href="#">business leaders</a>, and <a href="#">humanitarians</a> are up to…</h3>
				            </div>
                        </div>
							
						</div>
				</section>

<section class="slice color1" id="getinvolved" style="width:100%;height:900px;position:absolute;z-index:4;top:1800px; background-color:white">
					<div class="container">
						<div class="row">
								<h1 style="text-align:right;font-weight:200; padding-top:50px; padding-bottom:25px"><span style="font-weight: 400; color: #BD5E1B">Contribute</span> to massive data collection initiatives.<br/></h1>
								<h2 style="text-align:right">
									Good MapStories are powered by good data. MapStory’s ‘crowd-editing’ ability enables large groups to quickly collect, and continuously improve, spatiotemporal data on any subject. 
								</h2>
						</div>
                        
                        <div class="row"  style="margin-top: 55px; background-color: #FAFAFF; padding: 20px">
				            
                            <div style="text-align:center;padding:5px; float: right;">
								<img class="img-circle" src="{% remote_content 'social/code.jpg' %}" width="400" height="400">
				            </div>
                            <div style="text-align:center;padding:5px; position: relative; top: 55px; left: -5px; width: 100%">
                                <h1 style="text-align:center;color:black;">Featured Initiative</h1>
                                <h2 style="text-align:center;color:black;font-style: italic; margin-top: 25px">Borders & Annexations</h2>
								<h3 style="font-weight: 100; letter-spacing: 0px">Sponsored by the Sunlight Foundation and kickstarted by Karl Phillips, this initiative aims to map municipal border changes throughout U.S. history, showcasing the development of cities and towns. Contribute to an initiative or start a new one today! </h3>
                                <button type="button" class="btn btn-default" style="color: black; font-weight: 400; margin-top: 50px;">
                                    Contribute to an initiative &#8594
                                </button>
				            </div>
                        </div>
							
					</div>
				</section>

<section class="slice color1" id="thinkers" style="width:100%;height:900px;position:absolute;z-index:4;top:2700px; background-color:#F0F0F0">
					<div class="container">
						<div class="row">
								<h1 style="text-align:left;font-weight:200; padding-top:50px; padding-bottom:25px; line-height: 120%"><span style="font-weight: 400; color: #BD5E1B">Advance</span> thoughtful civic dialogue about our shared past, present and future<br/></h1>
								<h2 style="text-align:left">The internet is often a polarizing echo-chamber, but it doesn’t have to be. MapStory enables different data and perspectives to co-exist and improve based on feedback.
								</h2>
                            </div>
                            <div class="row" style="margin-top: 60px">
                            
                                
                                <div class="col-sm-4" style="float: left; background-color: #F9F9FF"><h2 style="font-weight: 400">MapStories in the Media<br/><br/></h2><a href="http://www.washingtonpost.com/blogs/wonkblog/wp/2014/06/23/a-hundred-years-of-american-politics-in-one-gif/">A hundred years of American politics, in one GIF &#8594</a><br/><i>Washington Post</i>
                                <br/><br/>
                                <a href="http://bikeportland.org/2014/08/11/monday-roundup-beauty-cleveland-dancing-seine-109942">Expansion of bike lanes in Portland, OR &#8594</a><br/><i>Bike Portland</i>
                                
                                </div>
                                <div class="col-sm-4" style="float: right;  background-color: #F9F9FF"><h2 style="font-weight: 400;">Recent Tweets</h2><br/><span style="font-weight: 600">@MapStory</span> Great read, http://bit.ly/1p4kznH.There's still a few WWW projects out there fighting in the spirit of @timberners_lee. We're one of them. &#8594<br/><br/><span style="font-weight: 600">@MapStory</span> Great chance to learn @Mapbox studio tonight @MaptimeDC, 6:30 at #MLK library Dream Lab @DCPL! http://www.meetup.com/Maptime-DC/events/196191172/ … &#8594</div>
                                <div class="col-sm-4" style="float: none; margin-left: auto; margin-right: auto; background-color: #F7F7FD"><div style="width:70%"><h2 style="font-weight: 400;">Reflections from the community journal</h2></div></div>
                                
                            
<!--
                            <a class="twitter-timeline" href="https://twitter.com/MapStory" data-widget-id="504024841112924160">Tweets by @MapStory</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->


						  </div>
							
						</div>
				</section>

<img src="images/P7172229.jpg" style="position:absolute;z-index:3;top:3600px; width: 100%; height: auto; opacity: 0.7"></img>

				<section class="slice" id="join" style="width:100%;height:700px;position:absolute;z-index:4;top:3600px; background-color:transparent">
					<div class="container" style="padding: 20px; margin-top: 30px;z-index:4;  background-color:rgba(200,200,215, 0.4)">
                        <h1 style="text-align:right;font-weight:200; color: black; padding-bottom:25px; line-height: 120%">And <span style="font-weight: 400; color: white">join</span> a growing global network striving to get better all the time.<br/></h1>
                        <div style="float:right;">
                            <button type="button" class="btn btn-default" style="color: black; font-weight: 400">
                                Add your voice. <span style="color: white">Sign up.</span>
                            </button>
                        </div>
                        </div>
					</div>
				</section>

                <section id="sponsors" style="width: 100%; height: 300px; position:absolute; z-index:4; top:4300px; background-color: white">
                    <div class="container">
                        <h1 style="text-align:left;font-weight:200; padding-top:15px; padding-bottom:25px; line-height: 120%">And <span style="font-weight: 400; color: #BD5E1B">thanks</span> to our sponsors:<br/></h1>
                        <div class="row">
								<div class="container">
									<div class="row">
										<div class="col-sm-2">
											<img class="img-responsive" style="width: 100px; height: auto; position: relative; top: -25px" src="{% remote_content 'logos/ace.png' %}" />
										</div>
										<div class="col-sm-2">
											<img class="img-responsive img-square" style="width: 100px; height: auto; position: relative; top: -25px" src="{% remote_content 'logos/nara.png' %}" />
										</div>
										<div class="col-sm-2">
											<img class="img-responsive img-square" style="width: 100px; height: auto; position: relative; top: -25px" src="{% remote_content 'logos/neh.png' %}" />
										</div>
										<div class="col-sm-2">
											<img class="img-responsive img-square" style="width: 100px; height: auto; position: relative; top: -25px" src="{% remote_content 'logos/dcpl.png' %}" />
										</div>
										<div class="col-sm-2">
											<img class="img-responsive img-square" style="width: 100px; height: auto; position: relative; top: -25px" src="{% remote_content 'logos/sf.png' %}" />
										</div>
										<div class="col-sm-2">
											<img class="img-responsive img-square" style="width: 100px; height: auto; position: relative; top: -25px" src="{% remote_content 'logos/nsf.png' %}" />
										</div>
									</div>
								</div>
						</div>
                    </div>

                </section>

{% endblock %}