{% include "mapstory/ext_header.html" %}
{% include "mapstory/app_header.html" %}
{% include "mapstory/geo_header.html" %}

<!--link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/ext-theme.css" media="screen" /-->
<script type="text/javascript">
var app;
Ext.onReady(function() {
{% autoescape off %}
  //  GeoExt.Lang.set("{{ LANGUAGE_CODE }}");
   // var config = Ext.apply({{ config }}, {
    //portalConfig: {
      //  renderTo: "embedded_map"
    //}
    //});
//app = new mapstory.Viewer(config);

//TODO: Need a better way to embed viewer

    $('<iframe>', {
   src: '/maps/{{ resource.id }}/viewer',
   id:  'myFrame',
   frameborder: 0,
   style: 'width: 100%; height: 100%;',
   scrolling: 'no'
   }).appendTo('#embedded_map');

var elem = document.getElementById('embedded_map');

function toggleFullScreen() {
    if (!document.mozFullScreen && !document.webkitFullScreen) {
        if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
        } else {
            elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
        }
    } else {
        if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else {
            document.webkitCancelFullScreen();
        }
    }
}

document.addEventListener("keydown", function(e) {
  if (e.keyCode == 13) {
    toggleFullScreen();
  }
}, false);
{% endautoescape %}
});
</script>






